.container {
    height: 80%;
    /* background: rebeccapurple; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2%;
    background: white;
    /* background: white; */
}

.container .foto {
    /* background: blue; */
}

.container .foto button {
    margin: auto;
    margin-top: 5%;
}

.container .foto div {
    height: 300px;
    background: gray;
    width: 40%;
    margin: auto;
    margin-top: 5%;
    border-radius: 50%;
}

.container .form {
    /* background: red; */
}

.container .form .form-container {
    width: 70%;
    margin: auto;
    /* background: white; */
    margin-top: 10%;
}

.container .form .form-container div {
    margin: 2% 0;
}

.container .form .form-container div label {
    display: inline-block;
    margin: 1% 0;
    color: black;
    font-family: 'Montserrat', sans-serif;

}

.container .form .form-container div label span {
    color: red;
}

.container .form .form-container div input {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 0;
    /* border: 1px solid black; */
    border-bottom: 2px solid #F2610A;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

.container .form .form-container div input::placeholder {
    color: black;
}

.container .form .form-container div button {
    display: block;
    margin: auto;
}

#nombre, #apellido {
    background-image: url(../imagenes/registrar-usuario/user.png);
    background-repeat: no-repeat;
}

#correo {
    background-image: url(../imagenes/registrar-usuario/email.png);
    background-repeat: no-repeat;
}