/*
Colores
#F2610A Anaranjado
#1EBB2D Verde
#616161 Gris
#FFFFFF Blanco
#000000 Negro

Tipografías
<link href="https://fonts.googleapis.com/css?family=Cantarell&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"> H1

Icono de la pestaña
<link rel="icon" href="imagenes/imagenes_generales//logo sin letras.png">
*/


body{
    font-family: 'Montserrat', sans-serif !important;
}

/*HEADER*/

header {
    background-color: #000000;
    display: flow-root;
}

.botones-header {
    float: right;
    margin-top: -65px;
    margin-right: 100px;
    display: flex;
}

a {
    text-decoration: none;
}

.logo-header {
    height: 80px;
    margin: 10px 0px 10px 70px;
}

.btn-registrarse {
    color: #F2610A;
    border: none;
    margin-left: 20px;
    background-color: #FFFFFF;
}

button:hover, .btn-registrarse:hover {
    background-color: #1EBB2D;
    border: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .btn-registrarse:hover {
    margin-left: 20px !important;
} */

.botones-header .href-perfil {
    margin: -10px 10px 0 25px;
    /* margin-top: -8px; */
}

.botones-header .href-perfil div {
    /* position: absolute;
    top: 0; */
    /* display: inline-block; */
    /* margin-left: 30px; */
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50%;
}

.botones-header .href-perfil div img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

/*Titulos*/

h1 {
    text-align: center;
    font-size: 40px;
    margin: 30px 0px;
    font-family: 'Montserrat', sans-serif;
}

h2, h3, h4, h5, h6, p {
    margin: 15px 0px;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 35px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

p {
    font-size: 16px;
}

/*Inpust y select*/

.input-buscar {
    height: 32px;
    width: 172px;
    border-radius: 10px;
    background-image: url("../imagenes/imagenes_generales/64673.png");
    background-position: 10px 7px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    padding-left: 34px;
    margin-bottom: 10px;
}

input {
    height: 32px;
    width: 200px;
    border-radius: 10px;
    background-position: 10px 7px;
    background-size: 15px 15px;
    padding-left: 30px;
    margin-bottom: 10px;
}

.input_registrar {
    height: 32px;
    width: 350px;
    border-radius: 2% !important;
    border-bottom-color: #F2610A;
    border-top: none;
    border-left: none;
    border-right: none;
}

select {
    height: 38px;
    width: 210px;
    border-radius: 10px;
    background-position: 10px 7px;
    background-size: 15px 15px;
    padding-left: 34px;
    margin-bottom: 10px;
}

/*Botones*/

button {
    height: 32px;
    width: 100px;
    border-radius: 10px;
    background-color: #F2610A;
    border: none;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #F2610A;
    color: #fff;
    font-size: 1.0625em;
    padding: 0 !important;
}

.swal2-styled.swal2-confirm {
    border: 0;
    border-radius: .25em;
    background: initial;
    background-color: #1EBB2D;
    color: #fff;
    font-size: 1.0625em;
}

/*FOOTER*/

footer {
    display: flow-root;
    background-color: #000000;
    color: #FFFFFF;
    padding: 17px 20px;
    font-family: 'Cantarell', sans-serif;
}

footer div {
    float: left;
    margin: 0px 60px;
}

footer div h3 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
}

footer div p {
    margin-bottom: 12px;
    font-size: 13px;
}

footer a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 13px;
}

footer i {
    color: #FFFFFF;
    margin-right: 20px;
    font-size: 25px;
    margin-top: 24px;
}

footer li {
    list-style-type: none;
    margin-bottom: 8px;
    font-size: 13px;
}

footer li:hover, footer i:hover, footer p:hover, footer a:hover {
    color: #1EBB2D;
    cursor: pointer;
}

.logo-footer {
    height: 150px;
    margin-left: -50px !important;
}

.i-facebook {
    margin-left: 20px;
}

/*VALIDACIONES*/

.error {
    border: 2px solid #d63031;
}

/*FORMULARIO*/

.formulario {
    border: 1px solid black;
    border-radius: 10px;
    padding: 15px 0px;
}

#imagePreview {
    width: 300px auto;
}

/* Agregado por Ángel para que lo evalúen 19/11/2019 - 12:19 m.d  */

.ocultar {
    display: none !important;
}

#carrito-compras {
    width: 30px;
    height: 30px;
    margin-top: 5%;
}

#carrito-compras i {
    color: #F2610A ;
    font-size: 30px;
}

.zona-notificacion {
    margin-right: 4%;
}

.zona-notificacion .notification-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    margin: -16% auto 0;
}

.zona-notificacion .notification-icon i {
    color: #F2610A;
    position: absolute;
    top: 20%;
    left: 24%;
    font-size: 30px;
    cursor: pointer;
}

.zona-notificacion .dropdown {
    width: 380px;
    height: auto;
    background: #dfe6e9;
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgba(0,0,0, 0.125);
    position: absolute;
    display: none;
    right: 19.5%;
    margin-top: 1%;
    height: 30%;
    overflow: auto;
}

.zona-notificacion .dropdown .notificacion {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid gray;
    
}

.zona-notificacion .dropdown .notificacion:last-child{
    border-bottom: 0px;
}

.zona-notificacion .dropdown .notificacion .imagen-notificacion img {
    margin: 0 8px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: black;
}

.zona-notificacion .dropdown .notificacion .info-notificacion #titulo-notificacion {
    font-size: 26px;
    font-weight: 700;
    margin: 2% 0;
    padding: 0 2%;
}

.zona-notificacion .dropdown .notificacion .info-notificacion #descripcion-notificacion {
    font-size: 22px;
    
    margin: 2% 0;
    padding: 0 2%;
}

.zona-notificacion .dropdown .notificacion .info-notificacion .hora-notificacion {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 18px;
    margin: 2% 0;
    padding: 0 2%;
    font-weight: bolder;
}

.zona-notificacion .dropdown::before{
    content: "";
    position: absolute;
    /* top: -30px; */
    right: 22;
    border: 15px solid;
    border-color: #F2610A transparent transparent transparent;
    /* background: red; */
    line-height: 200%;
}

.zona-notificacion .dropdown.active {
    display: block;
}

/* Tablas */

thead tr th {
    background-color: #000000 !important;
    padding: 2% 4% !important;
    font-family: 'Montserrat', sans-serif !important;
    text-align: center !important;
    color: #ffffff !important;
}

tbody { 
    text-align: center !important;
    font-family: 'Montserrat', sans-serif !important;

}

tbody td {
    border-block-end:1px solid #000000 !important;
    padding: 1% 0 !important;
    color: #F2610A  !important;
}

tbody tr td button {
    margin: auto !important;
}