
main{
    width: 80%;
    margin: auto;
}


/* Agregado por Ángel para que lo evalúen 19/11/2019 - 12:19 m.d  */
.botones-header {
    /* position: relative; */
}


.botones-header a button {
    margin: 0;
    margin: 0 5px;
}

.botones-header a button:hover {
    margin-left: 0px;
    padding: 0px;
}

.nav-superior{
    padding-top: 30px ;
    text-align: center;
    height: 30px;
}
.nav-superior div{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}
.nav-superior div a{
    color: #000000;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
.nav-superior div a:hover{
    color: #F2610A;
}
.nav-superior .linea{
    width: 2px;
    height: 20px;
    background: #000000;
}
.portada{
    background: url('../imagenes/landing-page/pexels-photo-518389.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: top;
    color: #FFFFFF;
    height: 600px;
    margin-bottom: 30px;
    background-attachment: fixed;

}
h1{
    padding-top: 40px;
}
#txt-filtro {
    margin-left: 1%;
    margin-bottom: 30px;
}

#contenedorCards {
    display: flow-root;
}
.card {
    border: 1px solid black;
    max-width: 23%;
    margin: 0 1% 60px 1%;
    float: left;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0 4px 4px 0 #2d343677;
}
.card:hover{
    border: 1px solid #F2610A;
    box-shadow: 0 5px 10px 0 #2d3436;
}
.card header img {
    width: 100%;
    height: 100%;
}

.card header {
    height: 200px;
}

.card h2 {
    text-align: center;
    font-size: 22px;
}

.card h3{
    padding-left: 4%;
    font-size: 16px;
}

.card h4 {
    padding-left: 4%;
    font-size: 14px;
}

.btn-mas {
    display: block;
    margin: 0 0 2% 38%;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    background-color: #F2610A;
    border: none;
    color: #FFFFFF;
}

.btn-mas:hover {
    height: 30px;
    width: 80px;
    border-radius: 10px;
    background-color: #1EBB2D;
    border: none;
    color: #FFFFFF;
    margin: 0 0 2% 38%;
}

h1{
    padding-top: 120px;
    font-size: 60px;
    text-shadow: 0px 6px rgba(0, 0, 0, 0.5);
}