/* header{
  

}

header img{
     float: left; 
}

header input{
    
    margin-left: 25%;
}



header button{
    display: inline-block;
    margin-top: 35px;
}

#btn-buscar{
    margin-right: 29.5%;
}

#btn-buscar:hover{
    margin-right: 29.5%;

}

#btn-registrarse{
    
}

header div button{
   
}

button:hover {
    
    border-radius: 10px;
    background-color: #1EBB2D;
    border: none;
    color: #FFFFFF;
    
}

#btn-registrarse:hover{
    margin-left: 0px !important;
} */

#btn-buscar{
    margin-right: 50%;
}

/* header div img{
    float: left;
} */

.buscar{
    float: left;
    margin-top: -65px;
    /* margin-right: 100px; */
    display: flex;
    margin-left: 35%;
    
}

.buscar input{
    width: 500px;
    margin-right: 1%;
}

.buscar button{
    width: 200px;
}

header div #btn-registrarse a{
    text-decoration: none;
    color: #FFFFFF;
}

main{
    padding: 50px 3%;
    /* margin-bottom: 50px; */
}

main img{
    float: left;
    margin-right: 3%;
}

main form{
    float: left;
    padding: 20px 0;
}

main form input{
    display: block;
    background-image: none;
    width: 315%;
    margin-bottom: 30px;
}

main form a{
    text-decoration: none;
    /* margin-bottom: 30px; */
}

/* #chbox-recordarContrasenna{
    /* margin: 0;
    /* text-align: center; */
    /* float: left; */
    /* padding: 0; 
} */

main form label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}
 
main form label #chbox-recordarContrasenna {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 30px 0 0 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
    display: inline-block;
    
}

/* input {
    height: 32px;
    width: 172px;
    border-radius: 10px;
    background-position: 10px 7px;
    background-size: 15px 15px;
    padding-left: 34px;
    margin-bottom: 10px;
} */

main form button{
    margin-top: 30px;
    /* background-color: #1EBB2D; */
    

}

main form button:hover {
    margin-top: 30px;
}

footer{
    display: inline-block;
    margin-top: 50px;
    width: 100%;
}

.errorInput{
    border : 2px solid #d63031;
}





