main{
    display: flow-root;
}

div .imagen-morat{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagen-morat{
    width: 300px;
}

.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.checkbox{
    display: flex;
    flex-direction: row;
}

p{
    
}