.main-section {
    background-image: url('../imagenes/landing-page/crowd-in-front-of-blue-and-orange-stage-during-a-concert-at-1387174.jpg');
    height: 900px;
    background-attachment: center !important;
    background-size: cover;
 }
 
     
 
 .main-section .text-container {
    padding-top: 5%;
 }

 .main-section .text-container h1,h2  {
    color: white;
    text-align: center;
    font-weight: 800;
    
 }
 .main-section .text-container h1 {
     font-size: 40px;
 }

.main-section .form-container {
    display: block;
    /* position: absolute; */
    padding-top: 15%;
    width: 100%;
    height: 10px;
    /* background: rebeccapurple; */
}

.main-section .form-container form {
    padding: 2%;
    height: 100px;
    width: 700px;
    /* background: black; */
    background: RGBA(255, 255, 255, 255, 1);
    margin: auto;
}

.main-section .form-container form input {
    margin-top: 3%;
    display: inline-block;
    height: 50px;
    width: 350px;
    font-size: 20px;
    margin-right: 2%;
    margin-left: 5%;
    /* background: none; */
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid white;
    color: white;
}

.main-section .form-container form input::placeholder {
    color: white;
}

.main-section .form-container form button {
    display: inline-block;
    height: 50px;
    width: 250px;
    font-size: 20px;
    border: 1px solid white;
}

h1, h2{
    padding-left: 90px;
    padding-right: 90px;
}


p, h4{
    color: #484848 !important;
    font-family: 'Montserrat', sans-serif;
}
h4{
    margin-bottom: 25px;
    text-align: center;
}

.container{
    margin: 50px 50px;
    display: flex;
    flex-direction: row;
}

hr{
    border: solid 1px;
    width: 600px;
    color: #F2610A;
}

.container_opciones{
    margin-top: 70px;
}

.info{
    width: 500px;
}
.quienesSomos{
    margin-left: 12%;
}

.iconos{
    margin-bottom: 20px;
    margin-top: 10px;
    width: 80px;
}

.container2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.container-iconos{
    text-align: center;
    margin-bottom: 60px;
}

.registrarse{
    margin-left: 100px;
    margin-right: 100px;
}


span{
    color: #1EBB2D;
    font-size: 50px;
}

.container_foto{
    background-image: url('../imagenes/landing-page/girl.jpg');
    background-size: cover;
    /*background-attachment: center;*/
    background-attachment: fixed;
    height: 500px;
    margin-top: 100px;
}

.container_foto div{
    width: 300px;
    padding-top: 100px;
    padding-left: 80px;
    text-align: justify;
}
#p{
    color: #000000 !important;
}