a {
    text-decoration: none;
    color: white;
}

.container-filtro {
    height: 80px;
}

.container-filtro input {
    margin: 2% 0 0 20%;
}

#tbl-tipoEventos {
    margin-left: 30%;
    width: 30%;
    margin-top: 2% !important;
}

thead tr th {
    background-color: #000000 !important;
    padding: 5% 0% !important;
    font-family: 'Montserrat', sans-serif !important;
    text-align: center !important;
    color: #ffffff !important;
}


footer {
    margin-top: 7%;
}

.input_registrar{
    background-image: url("../imagenes/imagenes_generales/64673.png");
    background-position: 10px 7px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
}