body {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}
.container-filtro {
    height: 80px;
    margin-bottom: 2%;
}

.container-filtro input {
    margin: 2% 0 0 20%;
    width: 15%;
}

#tbl-impuestos {
    margin-left: 20%;
    width: 60%;
}

.input_registrar{
    background-image: url("../imagenes/imagenes_generales/64673.png");
    background-position: 10px 7px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    padding-left: 34px;
}

footer {
    margin-top: 12%;
}