a {
    text-decoration: none;
    color: white;
}
.container-filtro {
    height: 80px;
    margin-bottom: 2%;
}

.container-filtro input {
    margin: 2% 0 0 20%;
}

.container-filtro h1 {
    display: inline-block;
    margin-left: 8%;
}

#tbl-usuarios {
    margin-left: 20%;
    width: 60%;
}

#tbl-usuarios thead tr th {
    border: 2px solid #616161;
    padding: 1% 0;
    color: #F2610A;
}

#tbl-usuarios tbody { 
    text-align: center;
}

#tbl-usuarios tbody td {
    border: 2px solid #616161;
    padding: 1% 0;
    color: #F2610A;
}

#tbl-usuarios tbody td button {
    display: block;
    margin: auto;
    width: 80px;
    height: 30px;
}

footer {
    margin-top: 21%;
}