main {
    width: 80%;
    margin: auto;
}

/* Agregado por Ángel para que lo evalúen 19/11/2019 - 12:19 m.d  */

.botones-header {
    /* position: relative; */
}

.botones-header a button {
    margin: 0px;
    margin: 0px 5px;
}

.botones-header a button:hover {
    margin: 0px 5px;
    padding: 0px;
}

.portada {
    background: white;
    margin-bottom: 20px;
    height: 20%;
}

#txt-filtro {
    margin-left: 11%;
    width: 20%;
    /* background: rgba(0, 0, 0, 0.2); */
    height: 32px;
    border-radius: 10px;
    background-image: url("../imagenes/imagenes_generales/64673.png");
    background-position: 10px 7px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    padding-left: 34px;
    margin-bottom: 10px;
}

/* ::placeholder{
    color: #FFFFFF;
} */

hr {
    margin-bottom: 50px;
    width: 600px;
    border: 0.5px solid #F2610A;
}

#contenedorCards {
    display: flow-root;
}

.card {
    border: 1px solid black;
    max-width: 23%;
    margin: 0 1% 60px 1%;
    float: left;
    box-sizing: border-box;
    width: 100%;
    height: 455px;
    box-shadow: 0 4px 4px 0 #2d343677;
}

.card:hover {
    transition: all ease 1s;
    box-shadow: 0px 0px 40px #484848;
    filter: grayscale(0%);
    transform: scale(1.03);
}

.card header img {
    width: 100%;
    height: 100%;
}

.card header {
    height: 200px;
}

.card h2 {
    text-align: center;
    font-size: 22px;
    color: #F2610A;
    margin-bottom: 30px;
}

.card h3 {
    padding-left: 4%;
    font-size: 16px;
    margin-top: 15%;
}

.card h4 {
    padding-left: 4%;
    font-size: 14px;
}

.btn-mas {
    display: block;
    margin: 0 auto 10px auto;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    background-color: #F2610A;
    border: none;
    color: #FFFFFF;
    margin-top: 15%;
}

.btn-mas:hover {
    display: block;
    margin: 0 auto 10px auto;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    background-color: #1EBB2D;
    border: none;
    color: #FFFFFF;
    margin-top: 15%;
}

/* h1 {
    padding-top: 200px;
    margin-top: 0% !important;
    font-size: 60px;
    text-shadow: 0px 6px rgba(0, 0, 0, 0.5);
} */

footer {
    margin-top: 15%;
}