a {
    text-decoration: none;
    color: white;
}

.container-filtro {
    height: 80px;
}

.container-filtro input {
    margin: 2% 0 0 20%;
}

#tbl-tipo-evento {
    margin-left: 30%;
    width: 30%;
}

#tbl-tipo-evento thead tr th {
    border: 2px solid #616161;
    padding: 1% 0;
    color: #F2610A;
}

#tbl-tipo-evento tbody {
    text-align: center;
}

#tbl-tipo-evento tbody td {
    border: 2px solid #616161;
    padding: 1% 0;
    color: #F2610A;
}

footer {
    margin-top: 21%;
}