section {
    width: 80%;
    margin: auto;
}
section #main-container{
    margin-top: 5%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
}


section #main-container #container-1 div {
    height: 500px;
}

section #main-container #container-1 div img {
    width: 100%;
    height: 100%;
}

section #main-container #container-2 {
    /* background: rebeccapurple; */
}

section #main-container #container-2 h2 {
    margin-top: 8%;
    font-size: 32px;
    
}

section #main-container #container-2 h3 {
    margin-top: 2%;
}

section #main-container #container-2 h4 {
    margin-top: 2%;
}

section #main-container #container-2 h5 {
    margin-top: 2%;
}

section #main-container #container-2 h6 {
    margin-top: 2%;
}

section #main-container #container-2 div {
    height: 300px;
    width: 400px;
    
}
section #main-container #container-2 a #btn-modificar {
    margin-top: 2%;
    width: 30%;
    height: 35px;
}

section #main-container #container-2 #map {
    margin-top: 15%;
}

.container-buttons-estado {
    width: 0;
    height: 20px;
}

.button-estado {
    display: block;
    margin-top: 2%;
    width: 25%;
}

button {
    display: block;
}

button:hover {
    background-color: #1EBB2D;
    border: none;
    color: #FFFFFF;
    display: block;
    align-items: unset;
    justify-content: unset;
}

footer {
    margin-top: 5%;
}