.container{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 5%;
    margin-bottom: 5%;
}

#btn-cambiarContrasenna{
    margin-top: 30px;
}

.input_registrar{
    margin-bottom: 15px;
}

.contra1{
    background-image: url("../imagenes/imagenes_generales/unlock.png");
    background-position: 10px 7px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    padding-left: 34px;
}

.contra2{
    background-image: url("../imagenes/imagenes_generales/lock.png");
    background-position: 10px 7px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    padding-left: 34px;
}