.main-title {
    height: 63px;
}

.main-title h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.form-container {
    /* height: 340px; */
    margin-bottom: 6%;
}

.form-container form {
    width: 35%;
    border: 1px solid black;
    margin: auto;
    padding: 4% 2% 4% 2%;
    /* text-align: center; */
}

/* .form-container .input-form {
    margin: auto;
} */

#icon-card {
    display: inline-block;
    position: absolute;
    margin-left: 0.5%;
    font-size: 50px;
    width: 50px;
    height: 50px;
}


.form-container form label {
    display: block;
    text-align: left;
    font-family: 'Montserrat', sans-serif;   
    font-size: 16px;
    padding: 1% 0;
}

.form-container form input {
    display: inline-block;
    width: 80%;
    background-image: none;
    /* padding-left: 5px; */
}

.form-container form button {
    width: 30%;
    margin-top: 3%;
    margin-left: 35%;
    align-content: center;
}

a {
    text-decoration: none;
    color: white;
    border-radius: 0px;
}