.main-title {
    height: 90px;
}

.form-container {
    height: 535px;
    margin-bottom: 30px;
}

.form-container form {
    width: 25%;
    border: 1px solid black;
    margin: auto;
    padding: 4% 6% 4% 5%;
}

.form-container form label {
    display: block;
    text-align: left;
    padding: 1% 0%;
    font-family: 'Montserrat', sans-serif;   
    font-size: 16px;

}

.form-container form input {
    display: block;
    width: 100%;
    /* margin: 3% 0 0 25%; */
    /* background-image: none; */
}

.form-container form button {
    width: 30%;
    margin-top: 3%;
    margin-left: 35%;
    align-content: center;
    padding-left: 5px;
}

.form-container form placeholder {
    padding-left: -5px;
}