header{
    margin-bottom: 50px;
}
main{
    width: 60%;
    margin: auto;
    margin-bottom: 60px;
}
.formulario{
    padding-bottom: 60px;
    
}
.frm-organizador{
    width: 90%;
    margin: auto;
}
label {
    font-family: 'Montserrat', sans-serif;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}
.inline{
    display: inline-block;
    margin-left: 5%;
}
.input{
    width: 210px;
}
select{
    height: 30px;
}
.margin5{
    margin-left: 5%;
}
h6{
    margin-left: 5%;
}
textarea{
    border-radius: 10px;
    height: 80px;
    margin-left: 5%;
}
.btn-enviarInfo{
    margin-left: 5%;
}
.terminos{
    display: block;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
}
.terminos:hover{
    color: #F2610A;
}