header{
    margin-bottom: 50px;
    
}
.main-container{
    width: 70%;
    margin: 0px auto 70px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 1.5fr;
    grid-gap: 30px;
    /* border: 3px solid #616161; */
    border-radius: 10px;
}

.h2-registrar-evento{
    font-size: 24px;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
}
.form-registrar-evento{
    grid-column-start: 1;
    justify-self: center;
}
.form-registrar-evento input{
    display: block;
    width: 210px;
    margin: 0px auto 10px auto;
}
#btn-agregarFecha{
    margin-bottom: 10px;
}
.form-registrar-evento div textarea{
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    min-height: 50px;
}
.form-registrar-evento select{
    margin: 0px auto 10px auto;
    border-radius: 10px;
}
.slider-fotos-registrar-evento{
    grid-column-start: 2;
    justify-self: center;
    max-width: 50%;
}
.imageHolder img{
    max-width: 100%;
    margin-bottom: 20px;
}
#btn-guardar-registrar-evento{
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
    align-self: center;
    min-width: 20%;
    min-height: 50px;
}

.error {
    border: 2px solid #d63031;
}