main{
    width: 80%;
    margin: 0px auto 50px auto;
    background: darkgray;
}

.main-container{
    padding: 2%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}
.h2-registrar-evento{
    font-size: 18px;
    grid-column-start: 1;
}
.form-registrar-evento{
    grid-column-start: 1;
}
.btn-guardar-registrar-evento{
    grid-column-start: 2;
}
.registrar-evento-carrusel{
    justify-self: center;
    height: 300px;
    width: 300px;
    background: url(imagenes/Registrar-evento/outlined_placeholder-512.png);
}