.info-registro .datalist-genero{
    height: 32px;
    width: 172px;
    border-radius: 10px;
    background-position: 10px 7px;
    background-size: 15px 15px;
    padding-left: 34px;
}
main{
    display: flow-root;
}

.section-main{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.input-fecha{
    height: 34px !important;
    color: #616161;
}

.subir-img-registro{
    width: 350px;
    float: left;
    margin-top: 20px;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    display: flex;
    flex-direction: column;
    justify-items: center;
}
.avatar-usuario{
    width: 300px;
}
.info-registro{
    width: 500px;
    float: left;
    margin-top: 20px;
    display: flow-root;
    display: flex;
    flex-direction: column;
}

.nombres, .apellidos, .correo-fecha{
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#txt_segundoNombre, #txt_segundoApellido, #txt_fechaDeNacimiento, #provincias, #distritos{
    margin-left: 15px;
}
#txt_genero{
    margin-left: 145px;
}

.direccion-provincia, .canton-distrito{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

h6{
    text-align: center;
}

.btn-registar{
    margin-top: 30px;
    align-self: center;
}
.btn-facebook{
    margin-top: 10px;
    align-self: center;
}

