.info-registro{
    width: 800px;  
    margin-left: 18%;
    margin-bottom: 60px;
}

.formulario{
    margin-top: 50px;
}

.nombres{
    margin-top: 40px;
}

.genero{
    margin-left: 90px;
}

.nombres, .correo-fecha, .apellidos, .canton-distrito, .direccion-provincia{
    display: flex;
    flex-direction: row;
    padding-left: 90px;
}
h4{
    padding-left: 90px;
    margin-top: 50px; 
}

label{
    font-family: 'Montserrat', sans-serif;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.label_elementos2{
    margin-left: 30px;
}

#imagePreview{
    width: 300px;
    margin-left: 30%;
    margin-top: 50px;
    margin-bottom: 20px;
}

.botonImagen, .btn-registar{
    margin-left: 42%;
    margin-bottom: 30px;
}

.btn-registar:hover{
    margin: none !important;
    padding: none !important;
}